/* App.css */

/* App.css میں */
#nprogress .bar {
    background: red; /* یا جو بھی رنگ چاہیے */
    height: 5px;
    transition: all 0.4s ease;
  }
  
  #nprogress .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px red, 0 0 5px red;
    opacity: 1.0;
    transform: rotate(3deg) translate(0px, -4px);
  }
  
  